body { 
  overflow-y: scroll;
  margin: 0; /* Убираем отступы */
}
   .parent {
     /*margin: 1%;*/
     padding: 5px;
   } 
   .child {
     padding: 5px;
     /*margin: 5px;*/
     position:relative;
   }