<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Окончательные данные обсерваторий</title>
    <!-- jQuery -->
    <script src="/static/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <!-- <link rel="shortcut icon" type="image/gif" href="http://www.gcras.ru/gcicon.gif" /> -->
    <link rel="shortcut icon" type="image/x-icon" href="https://www.gcras.ru/favicon.ico" />

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="/static/js/moment-with-locales.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
    <style>
        body {
            margin: 0;
            /* Убираем отступы */
            overflow-y: scroll;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button,
        input::-webkit-clear-button {
            /* display: none; <- Crashes Chrome on hover */
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
            /* <-- Apparently some margin are still there even though it's hidden */
        }

        input[type=number] {
            -moz-appearance: textfield;
            appearance: none;
            /* Firefox */
        }

        /* .invalid CSS class instead or pseudo selector */
        input.invalid {
            border-color: red;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;

        }


        td,
        th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        /* tr:nth-child(even) {
            background-color: #dddddd;
        } */
        /* .panel-body {
        background: #E7E8FF;} */
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <strong>
                                <a href="http://mag.gcras.ru">Analytical Geomagnetic Data Center</a> -
                                Окончательные данные
                                обсерваторий
                            </strong>
                        </h4>
                    </div>
                    <div class="panel-body" style="text-align:justify;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12>
                                    <br>
                                    <div class=" table-responsive-md">
                                    <table id="table_obs" class="table table-bordered" style="display: none">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Date1</th>
                                                <th>Date2</th>
                                                <th>IAGA-2002</th>
                                                <th>IAF</th>
                                                <th>Annual dataset</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                                <label style="display: none" for="codes"
                                    class="label label-default">Обсерватория</label>
                                <select style="display: none" name="codes" id="codes" class="form-control">
                                </select>
                                <br>

                                <div class="row">
                                    <div id="box_first" class="col-md-4 col-sm-4 col-lg-4">

                                        <label for="type" class="label label-default">Формат данных</label>
                                        <select name="type" id="type" class="form-control">
                                            <option value="iaga2002">IAGA-2002</option>
                                            <option value="iaf">IAF </option>
                                            <option value="add">Annual Definitive Dataset</option>
                                        </select>
                                    </div>
                                    <div id="box_central" class="col-md-4 col-sm-4 col-lg-4">

                                        <label for="date" class="label label-default">Дата начала</label>
                                        <input type="date" id="date1" class="form-control">
                                    </div>
                                    <div id="box_second" class="col-md-4 col-sm-4 col-lg-4">

                                        <label for="date" class="label label-default">Дата окончания</label>
                                        <input type="date" id="date2" class="form-control">
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div id="box_first" class="col-md-4 col-sm-4 col-lg-4"></div>
                            <div id="box_central" class="col-md-4 col-sm-4 col-lg-4"></div>
                            <div id="box_second" class="col-md-4 col-sm-4 col-lg-4">
                                <div id="forbuttontest"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div id="box_first" class="col-md-4 col-sm-4 col-lg-4"></div>
                            <div id="box_central" class="col-md-4 col-sm-4 col-lg-4"></div>
                            <div id="box_second" class="col-md-4 col-sm-4 col-lg-4">
                                <div class="col-md-12" style="text-align:justify;" id="searchout">
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row" id="downloadrow">
                            <div id="box_first" class="col-md-4 col-sm-4 col-lg-4">
                                <div id="result"></div>
                            </div>
                            <div id="box_central" class="col-md-4 col-sm-4 col-lg-4">
                                <input class="form-control" placeholder="e-mail" id="email" type="email" required
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            </div>
                            <div id="box_second" class="col-md-4 col-sm-4 col-lg-4">
                                <div id="forbutton"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <form class="needs-validation" novalidate>
                        <div class="row">
                            <div id="box_first" class="col-md-5 col-sm-6 col-lg-4"></div>
                            <div id="box_central" class="col-md-2 col-sm-0 col-lg-4"></div>
                            <div id="box_second" class="col-md-5 col-sm-6 col-lg-4"></div>
                        </div>
                    </form>
                </div>

                <div class="col-md-12" id="output">
                    <br>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    <script type="text/javascript">

        //const SERVICE_URL = 'https://def.gcras.ru/get-last-status/'
        const SERVICE_URL = http://127.0.0.1:8000/zipmagdata/'
        //'http://192.168.0.126:8000/';
        const osb = $("#obs");
        const dev = $("#dev");

        var obsinfo;
        var date1, date2;
        var foundcode;

        const validateEmail = (email) => {
            return email.match(
                /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };

        const validate = () => {
            const $result = $('#result');
            const email = $('#email').val();
            $result.text('');

            if (validateEmail(email)) {
                // $result.text(email + ' is valid :)');
                // $result.css('color', 'green');
                $result.text('');
                $("#buttonSubmitDownload").attr('disabled', false);
            } else {
                $("#buttonSubmitDownload").attr('disabled', true);
                // $result.text(email + ' is not valid :(');
                // $result.css('color', 'red');
            }
            return false;
        }

        $('#email').on('input', validate);
        $(document).ready(function () {

            $("#type").change(function () {
                var end = this.value;
                console.log(this.value);
                $("#searchout").empty();
                $('#downloadrow').hide();
            });
            var buttonSubmitSearch = $('<input type="submit" value="Найти" class="btn btn-block" data-loading-text="Loading..." id="buttonSubmitSearch">').click(function () {
                event.preventDefault();
                if (form_date.val() != '' && form_date_2 != '') {
                    timeperiod = "certain";
                    y1 = moment(form_date.val()).utc().year();
                    m1 = moment(form_date.val()).utc().month() + 1;
                    d1 = moment(form_date.val()).utc().date();

                    y2 = moment(form_date_2.val()).utc().year();
                    m2 = moment(form_date_2.val()).utc().month() + 1;
                    d2 = moment(form_date_2.val()).utc().date();
                } else {
                    timeperiod = "total";
                    y1 = 0;
                    y2 = 0;
                    m1 = 0;
                    m2 = 0;
                    d1 = 0;
                    d2 = 0;
                }
                $.ajax({
                    type: 'POST',
                    url: SERVICE_URL + 'stations-request/',
                    data: JSON.stringify({
                        "code": code,
                        "format": $("#type").val(), "year1": y1, "mon1": m1, "day1": d1, "year2": y2, "mon2": m2, "day2": d2,
                        "time": timeperiod
                    }),
                    contentType: "application/json; charset=utf-8",
                    crossDomain: true,
                    success: function (data) {
                        console.log('success');
                        obsinfo = new Map(Object.entries(data));

                        $("#searchout").empty();
                        obsinfo.forEach(function (e, i) {
                            console.log(i.toUpperCase());
                            if (timeperiod == "total") {
                                var sut1, sut2;
                                ut1 = e[0][0];
                                ut2 = e[0][1];
                                var format = $("#type").val();
                                if (format === "iaga2002") {
                                    sut1 = moment.unix(ut1).utc().format("YYYYMMDD")
                                    sut2 = moment.unix(ut2).utc().format("YYYYMMDD")
                                } else if (format === "iaf") {
                                    sut1 = moment.unix(ut1).utc().format("YYYYMM")
                                    sut2 = moment.unix(ut2).utc().format("YYYYMM")
                                } else if (format === "add") {
                                    sut1 = moment.unix(ut1).utc().format("YYYY")
                                    sut2 = moment.unix(ut2).utc().format("YYYY")
                                }
                                obscode = i.toUpperCase();
                                filename = obscode + sut1 + "_" + sut2 + "_" + format.toUpperCase() + ".zip";
                                var radioBtn = $('<div class="radio"><label style="font-family: monospace"><input type="radio" name="foundRb" text="bla" id="'
                                    + obscode + '" value="' + obscode + '"/>' + filename + '</label></div>');
                                radioBtn.appendTo('#searchout');
                            } else if (timeperiod == "certain") {
                                ut1r = moment(form_date.val()).unix();
                                ut2r = moment(form_date_2.val()).unix();
                                ut1 = e[0][0];
                                ut2 = e[0][1];
                                obscode = i.toUpperCase();
                                console.log(ut1r, ut1, ut2r, ut2);
                                if ((ut1r < ut1 && ut2r < ut1) || (ut1r > ut2 && ut2r > ut2)) {
                                    console.log("no data for period");
                                } else {

                                    var format = $("#type").val();
                                    var tfmt = ""
                                    if (format === "iaga2002") {
                                        tfmt = "YYYYMMDD";
                                    } else if (format === "iaf") {
                                        tfmt = "YYYYMM";
                                    } else if (format === "add") {
                                        tfmt = "YYYY";
                                    }
                                    sut1 = moment(form_date.val()).format(tfmt);
                                    sut2 = moment(form_date_2.val()).format(tfmt);
                                    filename = obscode + sut1 + "_" + sut2 + "_" + format.toUpperCase() + ".zip";
                                    var radioBtn = $('<div class="radio"><label style="font-family: monospace"><input type="radio" name="foundRb" text="bla" id="'
                                        + obscode + '" value="' + obscode + '"/>' + filename + '</label></div>');
                                    radioBtn.appendTo('#searchout');
                                }

                            }
                        });
                        $('#downloadrow').show();
                    },
                    error: function (code, exception) {
                        console.log(code, exception);
                        if (code.status !== 200) {
                            console.log('request failed');
                        }
                    }
                });
            });
            var buttonSubmitDownload = $('<input type="submit" value="Скачать" class="btn btn-primary btn-block" data-loading-text="Loading..." id="buttonSubmitDownload">').click(function () {
                event.preventDefault();

                code = $("input[name='foundRb']:checked").val();;

                if (form_date.val() != '' && form_date_2 != '') {
                    timeperiod = "certain";
                    y1 = moment(form_date.val()).year();
                    m1 = moment(form_date.val()).month() + 1;
                    d1 = moment(form_date.val()).date();

                    y2 = moment(form_date_2.val()).year();
                    m2 = moment(form_date_2.val()).month() + 1;
                    d2 = moment(form_date_2.val()).date();
                } else {
                    timeperiod = "total";
                }
                var downfilename = $("input[name='foundRb']:checked")[0].parentNode.innerText;
                $.ajax({
                    type: 'POST',
                    url: SERVICE_URL + 'data-request/',
                    data: JSON.stringify({
                        "code": code,
                        "format": $("#type").val(), "year1": y1, "mon1": m1, "day1": d1, "year2": y2, "mon2": m2, "day2": d2,
                        "time": timeperiod,
                        "email": $("#email").val()
                    }),
                    contentType: "application/json; charset=utf-8",
                    crossDomain: true,
                    xhr: function () {
                        var xhr = new XMLHttpRequest();
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 2) {
                                if (xhr.status == 200) {
                                    xhr.responseType = "blob";
                                } else {
                                    xhr.responseType = "text";
                                }
                            }
                        };
                        return xhr;
                    },
                    error: function (result, status, err) {
                        console.log(result, status, err)
                        console.log("Error loading data");
                    },
                    success: function (blob, status, xhr) {
                        console.log(status, xhr)
                        // check for a filename
                        var filename = downfilename;
                        // var disposition = xhr.getResponseHeader('Content-Disposition');
                        // console.log(xhr.getAllResponseHeaders())
                        // if (disposition && disposition.indexOf('filename') !== -1) {
                        //     console.log(filename)
                        //     var filenameRegex = /filename[^;=\n]*=((['"]).*?\2|[^;\n]*)/;
                        //     var matches = filenameRegex.exec(disposition);
                        //     if (matches != null && matches[1]) filename = matches[1].replace(/['"]/g, '');
                        // }

                        if (typeof window.navigator.msSaveBlob !== 'undefined') {
                            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created. These URLs will no longer resolve as the data backing the URL has been freed."
                            window.navigator.msSaveBlob(blob, filename);
                        } else {
                            var URL = window.URL || window.webkitURL;
                            var downloadUrl = URL.createObjectURL(blob);

                            if (filename) {
                                // use HTML5 a[download] attribute to specify filename
                                var a = document.createElement("a");
                                // safari doesn't support this yet
                                if (typeof a.download === 'undefined') {
                                    window.location.href = downloadUrl;
                                } else {
                                    a.href = downloadUrl;
                                    a.download = filename;
                                    document.body.appendChild(a);
                                    a.click();
                                }
                            } else {
                                window.location.href = downloadUrl;
                            }

                            setTimeout(function () { URL.revokeObjectURL(downloadUrl); }, 100); // cleanup
                        }
                        // if (btn !== null) $(btn).button("reset");
                    }
                });
            });
            $("#forbuttontest").empty();
            $("#forbutton").empty();
            $("#forbuttontest").append(buttonSubmitSearch);
            $("#forbutton").append(buttonSubmitDownload);

            $("#buttonSubmitDownload").attr('disabled', true);
            $("#email").val("");
            $('#downloadrow').hide();
            $('#table_obs').hide();
            $('#table_obs tbody').empty();
            $.ajax({
                type: 'POST',
                url: SERVICE_URL + "stations-request/",
                data: JSON.stringify({ "format": "iaf" }),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                success: function (data) {
                    obsinfo = new Map(Object.entries(data));
                    console.log('success');
                    console.log(obsinfo);
                    var table = "";
                    console.log(table);
                    obsinfo.forEach(function (e, i) {
                        console.log(i.toUpperCase());
                        code = i.toUpperCase();
                        if ($("#codes option[value='" + code + "']").length == 0) {
                            form_code.append("<option value='" + code + "'>" + code + "</option>");
                        }

                        ut1 = e[0][0];
                        ut2 = e[0][1];
                        console.log(moment.unix(ut1).utc().format("YYYY-MM-DD"));
                        console.log(moment.unix(ut2).utc().format("YYYY-MM-DD"));

                        table += '<tr>';
                        table += '<td>' +
                            i.toUpperCase() + '</td><td>' +
                            moment.unix(ut1).utc().format("YYYY-MM") + '</td><td>' +
                            moment.unix(ut2).utc().format("YYYY-MM") + '</td><td>' +
                            "iaf" + '</td></tr>';
                    });
                    // $('#table_obs tbody').append(table);
                    // $('#table_obs').show();
                },
                error: function (code, exception) {
                    console.log(code, exception);
                    if (code.status !== 200) {
                        console.log('request failed');
                    }
                }
            });
            $.ajax({
                type: 'POST',
                url: SERVICE_URL + "stations-request/",
                data: JSON.stringify({ "format": "iaga2002" }),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                success: function (data) {
                    obsinfo = new Map(Object.entries(data));
                    console.log('success');
                    console.log(obsinfo);
                    var table = "";
                    console.log(table);
                    obsinfo.forEach(function (e, i) {
                        console.log(i.toUpperCase());
                        code = i.toUpperCase();
                        if ($("#codes option[value='" + code + "']").length == 0) {
                            form_code.append("<option value='" + code + "'>" + code + "</option>");
                        }

                        ut1 = e[0][0];
                        ut2 = e[0][1];
                        console.log(moment.unix(ut1).utc().format("YYYY-MM-DD"));
                        console.log(moment.unix(ut2).utc().format("YYYY-MM-DD"));

                        table += '<tr>';
                        table += '<td>' +
                            i.toUpperCase() + '</td><td>' +
                            moment.unix(ut1).utc().format("YYYY-MM-DD") + '</td><td>' +
                            moment.unix(ut2).utc().format("YYYY-MM-DD") + '</td><td>' +
                            "*" + '</td><td>' +
                            "*" + '</td><td>' +
                            "*" + '</td></tr>';
                    });
                    $('#table_obs tbody').append(table);
                    $('#table_obs').show();
                },
                error: function (code, exception) {
                    console.log(code, exception);
                    if (code.status !== 200) {
                        console.log('request failed');
                    }
                }
            });

            table3 = "";
            $.ajax({
                type: 'POST',
                url: SERVICE_URL + "stations-request/",
                data: JSON.stringify({ "format": "add" }),
                contentType: "application/json; charset=utf-8",
                crossDomain: true,
                success: function (data) {
                    obsinfo = new Map(Object.entries(data));
                    console.log('success');
                    console.log(obsinfo);
                    var table = "";
                    console.log(table);
                    obsinfo.forEach(function (e, i) {
                        console.log(i.toUpperCase());
                        code = i.toUpperCase();
                        if ($("#codes option[value='" + code + "']").length == 0) {
                            form_code.append("<option value='" + code + "'>" + code + "</option>");
                        }
                        ut1 = e[0][0];
                        ut2 = e[0][1];
                        console.log(moment.unix(ut1).utc().format("YYYY-MM-DD"));
                        console.log(moment.unix(ut2).utc().format("YYYY-MM-DD"));

                        table += '<tr>';
                        table += '<td>' +
                            i.toUpperCase() + '</td><td>' +
                            moment.unix(ut1).utc().format("YYYY") + '</td><td>' +
                            moment.unix(ut2).utc().format("YYYY") + '</td><td>' +
                            "add" + '</td></tr>';
                    });
                    // $('#table_obs tbody').append(table);
                    // $('#table_obs').show();
                },
                error: function (code, exception) {
                    console.log(code, exception);
                    if (code.status !== 200) {
                        console.log('request failed');
                    }
                }
            });
        });
    </script>
</body>

</html>